.DS_Store
Rick-and-Morty-App/Rick-and-Morty-App/.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.swiftpm

# Xcode user data
*.xcuserstate
xcuserdata/
*.xcworkspace/xcshareddata/

Rick-and-Morty-App/Rick-and-Morty-App/RickMortyApp/GoogleService-Info.plist
